
<h1>タスク一覧</h1>

<% if logged_in? %>
  <%= render 'tasks/tasks', tasks: @tasks %>
  <ul>
   <br><%= link_to '新規タスクの投稿', new_task_path, class: 'btn btn-lg btn-primary' %></br>
  </ul>
<% else %>
 <ul>
  <% @tasks.each do |task| %>
  <li><%= task.id %> : <%= task.status %> &gt; <%= task.content %></li>
  <% end %>
 </ul>
 <ul>
  <br><%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %></br>
 </ul>
<% end %>
